@model get_fit.Models.Trainee_information
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/prepareSchedule.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid h-100 mainSection">
        <div class="container C2">
            <div class="row R1C2">
                 <div class="col-lg-6 col-md-12 col-sm-12">
                     <div class="title-section">
                         <div class="main-title">
                             <h1>Make your body looks <span>perfect</span></h1>
                             <h3>Through our training schedules prepared based on the information you provide</h3>
                         </div>
                     </div>
                </div>
                 <div class="col-lg-6 col-md-12 col-sm-12">
                 <div class="cards-section">
                  <div class="card-section-wrap">                 
                  <div class="title">
                   <h1>Select your goal</h1>
                    </div>
                    <form method="post">
                  <div class="card-wrap" >
                   <button name="button" value="bulking" type="submit" >
                    <div class="row">
                     <div class="col-6">
                      <div class="card-title">
                       <div class="card-title-wrap">
                         <h2>Bulking</h2>
                          </div>
                        </div>
                        </div>
                        <div class="col-6">
                              <div class="card-img">
                                <img src="/imgs/bulk2.png" />
                            </div>
                        </div>
                    </div>
                   </button>
                   </div>
                  <div class="card-wrap">
                    <button name="button" value="loseWeight" type="submit" >
                    <div class="row">
                        <div class="col-6">
                               <div class="card-title">
                                <div class="card-title-wrap">
                                    <h2>Lose weight</h2>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-6">
                              <div class="card-img">
                                <img src="/imgs/LoseWeight.png" />
                            </div>
                        </div>
                    </div>
                   </button>

                  </div>
                 <div class="card-wrap">
                   <button name="button" value="cutting" type="submit" >
                  <div class="row">
                        <div class="col-6">
                               <div class="card-title">
                                <div class="card-title-wrap">
                                    <h2>Cutting</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                              <div class="card-img">
                                <img src="/imgs/Cutting.png" />
                            </div>
                        </div>
                    </div>
                    </button>
                </div>
                      </form>
                </div>
               </div>
                </div>
            </div>
            
        </div>
         </div>
 
</body>
