@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section style="background-color:#212020; height:100%;">

<div class="container-fluid h-100">
    <div class="container h-100">
           <div class="row h-100 justify-content-center">
        <div class="col-lg-6 justify-content-center align-self-center">
            <p style="text-align:center; color:white; font-size:22px;">We need some information from you so that we can make a schedule for you</p>
            <div class="getStarted d-flex justify-content-center ">
               <a  asp-action="index" asp-controller="TraineeGoal" style="text-align: center; display:block; background: #252525; border: 1px solid #504D4D; width:220px; color:#C54545; padding:10px; margin-top:20px; cursor:pointer" >get started</a>

            </div>

        </div>
    </div>
 
</div>
 </div>
 </section>
<style>
    body , html {height:100%}
    a{
        text-decoration:none !important;

    }
   .getStarted a:hover{
         border: 1px solid #C54545;
    }

</style>